body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #30275B;
    color: white;
    padding: 10px;
  }
  
  nav h1 {
    font-size: 24px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  section {
    padding: 20px;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label,
  input,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
  }
  
  button {
    background-color: #30275B;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #524d91;
  }
  